{% extends 'layout.html' %}
{% block head_content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
{% endblock %}
{% block content %}
    <div class="sub-wrapper">
        <div class="navigation-top">
            <div class="nv-ca">
                <ul>
                    <li class="nv-la mobile-only"><a href="{{ url_for('home') }}">HOME</a></li>
                    <li class="nv-la non-mobile nav-logo"><a href="{{ url_for('home') }}">
                        <img src="https://i.imgur.com/vJs4XEN.png"/>
                    </a></li>
                    <li><a href="{{ url_for('blog_index') }}">THOUGHTS</a></li>
                    <li><a href="{{ url_for('portfolio') }}">PORTFOLIO</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                </ul>
            </div>
            <button class="hamburger hamburger--spin-r" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <h1>Please login</h1>
        <br>
        <form action="" method="post">
            <div class="form-elements">
                <span>{{ form.hidden_tag() }}</span>
                <span>{{ form.username(placeholder='username') }}</span>
                <span>{{ form.password(placeholder='password') }}</span><br/>
                <span>{{ form.remember_me() }}
                {{ form.remember_me.label() }}</span>
                {{ form.submit() }}
            </div>
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
{% endblock %}
