.left-color-box {
    background: var(--base-color);
    color: var(--casual-back);
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: var(--base-contrast); /* because the background for this page has the same color as the hamburger icon on other pages*/
}

body {
    background: var(--casual-back) !important;
}

.page-content {
    width: 70%;
}

.content {
    display: inline !important;
}

img {
    width: 300px;
    height: auto;
    border-radius: 5%;
}

/* mobile views */

@media only screen and (max-device-width: 700px) {

    .page-content {
        margin-top: 10vh;
        width: 95vw;
        float: none;
        display: flex;
        justify-content: center;
    }

    .content {
        /*display: flex;*/
        /*top: 20vh;*/
        width: 95%;
        padding: 2rem 0;
        flex-direction: column;
        /*align-items: center;*/
        /*justify-content: space-evenly;*/
        /*width: 100%;*/

    }

    img {
        width: 90vw !important;
        height: auto;
        border-radius: 2.5%;
    }

}